#### Verification

1. **Towards Formal Verification of Dynamic Memory Allocator Properties Using BIP Framework**
   Xiutai Lu, Yang Gao Wensheng Guo, Fengbo Zhang Xia Yang and Jun Wan, *doi*: [10.1145/3487075.3487122](https://dl.acm.org/doi/abs/10.1145/3487075.3487122)

2. **Formal verification of a C-like memory model and its uses for verifying program transformations**
  Xavier Leroy and Sandrine Blazy, *doi*: [10.1007/s10817-008-9099-0](https://doi.org/10.1007/s10817-008-9099-0)


3. **Using spin to model check concurrent algorithms, using a translation from c to promela**  
  Ke Jiang and Bengt Jonsson, *url* [Diva](https://www.diva-portal.org/smash/record.jsf?pid=diva2%3A291762&dswid=-9226)

4. **Spin Beginners Tutorial**
   Theo C. Ruys, *url* [link](https://www.diva-portal.org/smash/record.jsf?pid=diva2%3A291762&dswid=-9226)
   
